<div class="row">
    <div class="col-md-11 col-md-offset-1 card">
        <!-- Edit block -->
        <h5>رزرو</h5>
        <p>
           این یک جعبهٔ رزرو است. پروندهٔ donate.html را که در مسیر <code>layouts/partials/widgets/sideba</code> قرار دارد در یک ویرایش‌گر باز کنید و عنوان و متن خود را جایگزین کنید. برای نمونه عنوان این جعبه می‌تواند «درباره من»، «تماس با من» و... باشد.
            <a href="#">لینک نیز می‌توانید قرار دهید.</a>
            <br>
            <br>
            <a href="http://github.com/YOUR_USERNAME"><i class="fa fa-github-square" aria-hidden="true"></i></a>
            <a href="/index.xml"><i class="fa fa-rss-square" aria-hidden="true"></i></a>
        </p>
        <!-- End of edit block-->
    </div>
</div>
